*.aux
*.blg
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.url
PBE-Omnibus.pdf
warnings.txt
_git-pull-push.command
/PBE2.pdf
**/*.synctex.gz
*.synctex.gz
/Glamour/Glamour.pdf
**/auto/
auto/
/Sockets/Sockets.pdf
**/*.pdf
*.changes
*.image
package-cache
PBE1.pdf
Fonts
test.*
PharoV10.sources
.DS_Store